<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<div style="align-self: center;align-content: center;">

<style>
  body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  background: rgb(174,215,238);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(136, 136, 136) 100%);
}

h3 {
  font-size: 24px;
}
</style>


  <div style="display:flex; padding-top: 30px; display: block; height: 500px;width: 800px;align-items: center; margin: auto; padding: 48px; text-align: center;">
    <img style="display: inline-block; padding-top: 40px;" src="italk.jpg" height="300px" />
    <h2 style="font-size:40px;padding-top: 40px;">Welcome to I-Talk!</h2>
    <span class="card-text" style="display: block;">Username</span>
    <input style="display: block; margin: auto;" label="Username" id="username" type="text" alt="Username">
    <span class="card-text" style="display: block;">Password</span>
    <input style="display: block; margin: auto;" label="Username" id="username" type="password" alt="Username">
    <a style="margin: 12px;margin-top: 24px; border-radius: 24px; padding: 12px 24px;" class="btn btn-secondary" href="/auth/facebook">Login</a>
    <a style="margin: 12px;margin-top: 24px; border-radius: 24px; padding: 12px 24px;" class="btn btn-primary" href="/auth/facebook">Login with Facebook</a>
  </div>
  <div style="width:500px;height:180px;padding: 12px;">
    
    </div>

  <div style="margin: auto; padding: 100px; align-content: center; text-align: center; vertical-align: auto;">
    <span style="padding: 12px; display: block;">PSID: 3790866714367678</span>
    <img class="img-fluid" style="display: block; text-align:center; align-self: center;" src="3790866714367678.png" height="600px" alt="Responsive image">


    <span style="padding: 12px; display: block;">PSID: 5373468049359826</span>
    <img class="img-fluid" style="display: block; text-align:center; align-self: center;" src="5373468049359826.png" height="600px" alt="Responsive image">


    <a style="margin-top: 30px;" class="btn btn-primary" href="/logout">Logout</a>

  </div>
<div style="padding: 12px;">  .  </div>
</div>
